*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Gotham Screen Smart';
    src: local('Gotham Screen Smart Book'), local('Gotham-Screen-Smart-Book'),
        url('https://valiantwind.me/QR-Code-Generator/fonts/GothamSSm-Book.woff2') format('woff2'),
        url('https://valiantwind.me/QR-Code-Generator/fonts/GothamSSm-Book.woff') format('woff'),
        url('https://valiantwind.me/QR-Code-Generator/fonts/GothamSSm-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(18, 18, 18, 1);
}
h1{
    color: white;
    margin: 15px;
    font-family: 'Gotham Screen Smart', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
input{
    width: 300px;
    height: 40px;
    background: transparent;
    border: none;
    margin: 15px;
    outline: none;
    font-size: 1.2rem;
    color: white;
    padding: 0 10px;
    font-family: 'Gotham Screen Smart', sans-serif;
}
button{
  border: none;
  cursor: pointer;
  color: #171717;
  background-color: #2BB1FF;
  padding: 6px 16px;
  font-size: 16px;
  min-width: 64px;
  box-sizing: border-box;
  font-style: normal;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Gotham Screen Smart', Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-display: swap;
  border-radius: 4px;
  text-transform: uppercase;
}

button:hover{
  text-decoration: none;
  background-color: rgba(43, 177, 255, 0.8);
}

select{
  font-family: 'Gotham Screen Smart', sans-serif;
  background: transparent;
  background-color: #171717;
  color: white;
  border: none;
}

label{
     color: white;
    margin: 15px;
    font-family: 'Gotham Screen Smart', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

img{
  margin: 15px;
}